/*
 * WEB222 – Final Assignment
 *
 * I declare that my assessment is wholly my own work in accordance with Seneca Academic Policy. 
 * No part of this assessment has been copied manually or electronically from any other source 
 * (including websites) except for the information supplied by the WEB222 instructors and / 
 * or made available in this assessment for my use. I also declare that no part of this assignment 
 * has been distributed to other students.
 *
 *      Name:       Julia Alekseev
 *      Student ID: 051292134
 *      Date:       2023-08-07
*/


/*===================PC SCREEN CSS=============*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 100px;
}

.logoCite {
  text-align: center;
  font-size: 10px;
  color: white;
}

.cardPhoto {
  text-align: center;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

header {
  border-radius: 20px;
  background-color: #333;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headNav {
  text-align: right;
}

.headNav button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  width: 100px;
  height: 50px;
}

.headHome:hover {
  background-color: green;
  color: black;
}

.headInfo:hover {
  background-color: red;
  color: black;
}

.headReviews:hover {
  background-color: yellow;
  color: black;
}

.headAbout:hover {
  background-color: blue;
  color: black;
}

.content {
  padding: 20px;
}

h1 {
  font-family: cursive;
  font-weight: bolder;
}

strong {
  position: relative;
}

strong::before {
  background: linear-gradient(to right, #fffd81, #46b96c);
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: 70%;
  left: -2px;
  bottom: 0;
  z-index: -2;
  transform: rotate(-2deg);
}

.form {
  display: flex;
  align-items: center;
}

.formLeft {
  flex: 1;
  width: 50%;
  border: 2px solid #f1f1f1;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
.sumbitButton {
  width: 100%;
  padding: 12px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.subscriber {
  margin-top: 16px;
}

.sumbitButton {
  text-transform: uppercase;
  background-color: #006bb1;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
}

input[type="submit"]:hover {
  background-color: #43a6e7;
}

.couple {
  flex: 1;
  width: 50%;
}

.couple img {
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
}

.contImg2 img {
  padding-top: 20px;
  height: 450px;
  padding-right: 20px;
}

footer {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #333;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
}

.footNav {
  text-align: center;
}

.footNav button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin: 0 20px;
  width: 100px;
}

.footHome:hover {
  background-color: green;
  color: black;
}

.footInfo:hover {
  background-color: red;
  color: black;
}

.footReviews:hover {
  background-color: yellow;
  color: black;
}

.footAbout:hover {
  background-color: blue;
  color: black;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up,
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1300px;
  margin: 10px;
}

.contImg img {
  max-width: 200px;
  height: auto;
  padding-right: 20px;
}

.description1 {
  flex: 1;
  text-align: justify;
}

.description2 {
  max-height: 500px;
  overflow-y: auto;
  flex: 1;
  padding-left: 20px;
  text-align: justify;
}

.video2 {
  border-radius: 20px;
  width: 560px;
  height: 315px;
}

.video {
  flex: 1;
  margin-left: 10px;
  margin-top: 15px;
}

.links {
  font-size: 14px;
}

.tiktok-embed {
  padding-right: 20px;
  max-width: 605px;
  min-width: 325px;
  border-radius: 30px;
}

.inst {
  background-color: #006bb1;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-align: center;
  height: 20px;
}

.trPhoto {
  width: 40px;
}

.introPhoto {
  width: 30px;
  height: auto;
  display: block;
  border: none;
  padding: 0;
  margin: 0 auto;
}

td {
  padding-bottom: 20px;
  padding-right: 20px;
}

.up {
  display: flex;
  align-items: center;
}

.contImg3 {
  flex: 0 0 auto;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #303030;
  border-style: medium;
  padding: 10px;
}

.contImg3 img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  border-color: #303030;
  border-style: medium;
  padding: 5px;
}

.about {
  flex: 1;
}

.honestyContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.honestyContent li {
  margin-bottom: 20px;
}

.honestyContent a {
  color: #007bff;
  text-decoration: none;
}

.honestyContent a:hover {
  text-decoration: underline;
}

.honestyContent li ul {
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 0;
}

.honestyContent li ul li {
  list-style-type: disc;
}

.honestyContent li ul li a {
  text-decoration: underline;
}

.honestyContent li a {
  margin-right: 5px;
  font-style: italic;
}

.up {
  display: flex;
  justify-content: space-between;
}

.upReview {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.card {
  text-align: center;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  margin: 10px;
  flex: 1 1 300px;
}

.imgCard {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
  margin: 0 auto 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.starRatings,
.starRating {
  color: gold;
  font-size: 20px;
}

.reviewText {
  font-size: 16px;
  line-height: 1.5;
}

.headReview {
  font-weight: bold;
}

.reviewName {
  text-transform: uppercase;
}

.reviewsDiv {
  max-height: 350px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 100px;
}

.newReview {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.starRating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.reviewButton {
  text-transform: uppercase;
  background-color: #006bb1;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reviewButton:hover {
  background-color: #43a6e7;
}

.instructVideo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.takiVid {
  border-radius: 20px;
  width: 80%; 
  height: 60vh; 
  max-width: 100%;
}

/*===================MOBILE SCREEN CSS=============*/
@media only screen and (max-width: 640px) {
  .logo {
    width: 30px; 
  }
.logoCite{
  font-size: 4px;
}
  .upReview {
    display: block; 
  }

  .card {
    max-width: 100%; 
    margin: 10px auto; 
  }


  .form {
    flex-direction: column;
  }

  .formLeft,
  .couple {
    width: 100%;
    margin-bottom: 20px;
  }

  .up,
  .bottom {
    flex-direction: column;
    align-items: center;
  }

  .content1 {
    padding: 0;
  }

  .video2,
  .takiVid {
    width: 100%;
    height: auto;
  }

  .contImg2 img,
  .contImg img {
    padding-right: 0;
    max-width: 100%;
  }


  header {
    padding: 10px 20px; 
  }

  .headNav {
    text-align: center; 
    margin-top: 10px; 
  }

  .headNav button {
    font-size: 10px;
    margin: 5px; 
    width: auto; 
    height: auto; 
  }

  footer {
    padding: 10px 20px; 
  }

  .footNav {
    text-align: center; 
    margin-top: 10px; 
  }

  .footNav button {
    margin: 5px; 
    width: auto; 
  }





}
